CustomerInsertUpdate.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.5-b05 . --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.5-b05 . --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.dmotorworks.com/pip-customer" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.dmotorworks.com/pip-customer" name="CustomerSaveService">
<types>
<xsd:schema>
<xsd:import namespace="http://www.dmotorworks.com/pip-customer" schemaLocation="https://raw.githubusercontent.com/sunny-upstart/cdk-wsdl-copy/main/CustomerInsertUpdate.xsd"/>
</xsd:schema>
</types>
<message name="readBulk">
<part name="parameters" element="tns:readBulk"/>
</message>
<message name="readBulkResponse">
<part name="parameters" element="tns:readBulkResponse"/>
</message>
<message name="CustomerPIPException">
<part name="fault" element="tns:CustomerPIPException"/>
</message>
<message name="getCustomerNumber">
<part name="parameters" element="tns:getCustomerNumber"/>
</message>
<message name="getCustomerNumberResponse">
<part name="parameters" element="tns:getCustomerNumberResponse"/>
</message>
<message name="NextCustNoUnavailableException">
<part name="fault" element="tns:NextCustNoUnavailableException"/>
</message>
<message name="insertBulk">
<part name="parameters" element="tns:insertBulk"/>
</message>
<message name="insertBulkResponse">
<part name="parameters" element="tns:insertBulkResponse"/>
</message>
<message name="updateBulk">
<part name="parameters" element="tns:updateBulk"/>
</message>
<message name="updateBulkResponse">
<part name="parameters" element="tns:updateBulkResponse"/>
</message>
<message name="getCustomerNumberBulk">
<part name="parameters" element="tns:getCustomerNumberBulk"/>
</message>
<message name="getCustomerNumberBulkResponse">
<part name="parameters" element="tns:getCustomerNumberBulkResponse"/>
</message>
<message name="update">
<part name="parameters" element="tns:update"/>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"/>
</message>
<message name="read">
<part name="parameters" element="tns:read"/>
</message>
<message name="readResponse">
<part name="parameters" element="tns:readResponse"/>
</message>
<message name="insert">
<part name="parameters" element="tns:insert"/>
</message>
<message name="insertResponse">
<part name="parameters" element="tns:insertResponse"/>
</message>
<portType name="CustomerSave">
<operation name="readBulk">
<input wsam:Action="http://www.dmotorworks.com/pip-customer/CustomerSave/readBulkRequest" message="tns:readBulk"/>
<output wsam:Action="http://www.dmotorworks.com/pip-customer/CustomerSave/readBulkResponse" message="tns:readBulkResponse"/>
<fault message="tns:CustomerPIPException" name="CustomerPIPException" wsam:Action="http://www.dmotorworks.com/pip-customer/CustomerSave/readBulk/Fault/CustomerPIPException"/>
</operation>
<operation name="getCustomerNumber">
<input wsam:Action="http://www.dmotorworks.com/pip-customer/CustomerSave/getCustomerNumberRequest" message="tns:getCustomerNumber"/>
<output wsam:Action="http://www.dmotorworks.com/pip-customer/CustomerSave/getCustomerNumberResponse" message="tns:getCustomerNumberResponse"/>
<fault message="tns:CustomerPIPException" name="CustomerPIPException" wsam:Action="http://www.dmotorworks.com/pip-customer/CustomerSave/getCustomerNumber/Fault/CustomerPIPException"/>
<fault message="tns:NextCustNoUnavailableException" name="NextCustNoUnavailableException" wsam:Action="http://www.dmotorworks.com/pip-customer/CustomerSave/getCustomerNumber/Fault/NextCustNoUnavailableException"/>
</operation>
<operation name="insertBulk">
<input wsam:Action="http://www.dmotorworks.com/pip-customer/CustomerSave/insertBulkRequest" message="tns:insertBulk"/>
<output wsam:Action="http://www.dmotorworks.com/pip-customer/CustomerSave/insertBulkResponse" message="tns:insertBulkResponse"/>
<fault message="tns:CustomerPIPException" name="CustomerPIPException" wsam:Action="http://www.dmotorworks.com/pip-customer/CustomerSave/insertBulk/Fault/CustomerPIPException"/>
</operation>
<operation name="updateBulk">
<input wsam:Action="http://www.dmotorworks.com/pip-customer/CustomerSave/updateBulkRequest" message="tns:updateBulk"/>
<output wsam:Action="http://www.dmotorworks.com/pip-customer/CustomerSave/updateBulkResponse" message="tns:updateBulkResponse"/>
<fault message="tns:CustomerPIPException" name="CustomerPIPException" wsam:Action="http://www.dmotorworks.com/pip-customer/CustomerSave/updateBulk/Fault/CustomerPIPException"/>
</operation>
<operation name="getCustomerNumberBulk">
<input wsam:Action="http://www.dmotorworks.com/pip-customer/CustomerSave/getCustomerNumberBulkRequest" message="tns:getCustomerNumberBulk"/>
<output wsam:Action="http://www.dmotorworks.com/pip-customer/CustomerSave/getCustomerNumberBulkResponse" message="tns:getCustomerNumberBulkResponse"/>
<fault message="tns:CustomerPIPException" name="CustomerPIPException" wsam:Action="http://www.dmotorworks.com/pip-customer/CustomerSave/getCustomerNumberBulk/Fault/CustomerPIPException"/>
<fault message="tns:NextCustNoUnavailableException" name="NextCustNoUnavailableException" wsam:Action="http://www.dmotorworks.com/pip-customer/CustomerSave/getCustomerNumberBulk/Fault/NextCustNoUnavailableException"/>
</operation>
<operation name="update">
<input wsam:Action="http://www.dmotorworks.com/pip-customer/CustomerSave/updateRequest" message="tns:update"/>
<output wsam:Action="http://www.dmotorworks.com/pip-customer/CustomerSave/updateResponse" message="tns:updateResponse"/>
<fault message="tns:CustomerPIPException" name="CustomerPIPException" wsam:Action="http://www.dmotorworks.com/pip-customer/CustomerSave/update/Fault/CustomerPIPException"/>
</operation>
<operation name="read">
<input wsam:Action="http://www.dmotorworks.com/pip-customer/CustomerSave/readRequest" message="tns:read"/>
<output wsam:Action="http://www.dmotorworks.com/pip-customer/CustomerSave/readResponse" message="tns:readResponse"/>
<fault message="tns:CustomerPIPException" name="CustomerPIPException" wsam:Action="http://www.dmotorworks.com/pip-customer/CustomerSave/read/Fault/CustomerPIPException"/>
</operation>
<operation name="insert">
<input wsam:Action="http://www.dmotorworks.com/pip-customer/CustomerSave/insertRequest" message="tns:insert"/>
<output wsam:Action="http://www.dmotorworks.com/pip-customer/CustomerSave/insertResponse" message="tns:insertResponse"/>
<fault message="tns:CustomerPIPException" name="CustomerPIPException" wsam:Action="http://www.dmotorworks.com/pip-customer/CustomerSave/insert/Fault/CustomerPIPException"/>
</operation>
</portType>
<binding name="CustomerSavePortBinding" type="tns:CustomerSave">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="readBulk">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerPIPException">
<soap:fault name="CustomerPIPException" use="literal"/>
</fault>
</operation>
<operation name="getCustomerNumber">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerPIPException">
<soap:fault name="CustomerPIPException" use="literal"/>
</fault>
<fault name="NextCustNoUnavailableException">
<soap:fault name="NextCustNoUnavailableException" use="literal"/>
</fault>
</operation>
<operation name="insertBulk">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerPIPException">
<soap:fault name="CustomerPIPException" use="literal"/>
</fault>
</operation>
<operation name="updateBulk">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerPIPException">
<soap:fault name="CustomerPIPException" use="literal"/>
</fault>
</operation>
<operation name="getCustomerNumberBulk">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerPIPException">
<soap:fault name="CustomerPIPException" use="literal"/>
</fault>
<fault name="NextCustNoUnavailableException">
<soap:fault name="NextCustNoUnavailableException" use="literal"/>
</fault>
</operation>
<operation name="update">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerPIPException">
<soap:fault name="CustomerPIPException" use="literal"/>
</fault>
</operation>
<operation name="read">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerPIPException">
<soap:fault name="CustomerPIPException" use="literal"/>
</fault>
</operation>
<operation name="insert">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerPIPException">
<soap:fault name="CustomerPIPException" use="literal"/>
</fault>
</operation>
</binding>
<service name="CustomerSaveService">
<port name="CustomerSavePort" binding="tns:CustomerSavePortBinding">
<soap:address location="https://uat-3pa.dmotorworks.com:443/pip-customer/services/CustomerInsertUpdate"/>
</port>
</service>
</definitions>
